@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/OpenSans-Light.ttf");
}
.btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
.btn.price-btn {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  border: solid 1px white;
}
.btn.news-btn {
  padding: 16px 30px;
  border: solid 1px #cacaca;
  font-size: 12px;
}
.btn.app-btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  text-transform: none;
}
.btn.artist-desc-btn {
  width: 200px;
  padding: 20px 30px;
  color: #fff;
  font-size: 12.8px;
  font-family: Roboto, sans-serif;
  text-align: left;
}

.search-form input {
  min-width: 240px;
  padding-left: 10px;
  min-height: 25px;
  border: none;
  border-radius: 30px;
  font-size: 13.3px;
  background: #3c3b3d;
  outline: none;
}
.search-form ::placeholder {
  color: #757575;
}
@media (max-width: 414px) {
  .search-form {
    width: 100%;
    display: flex;
  }
  .search-form input {
    width: 100%;
  }
}

.subsctiption-form {
  max-width: 570px;
  margin: 0 auto;
}
.subsctiption-form .form-group input {
  min-width: 250px;
  min-height: 44px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}
.subsctiption-form .form-group ::placeholder {
  color: #fff;
}
@media (max-width: 414px) {
  .subsctiption-form .form-group input {
    width: 100%;
  }
}

body {
  margin: 0;
  color: #cacaca;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1,
h2 {
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  position: relative;
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  vertical-align: middle;
}

ul {
  padding: 0;
  list-style: none;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
header {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
}
header .logo {
  width: 100px;
  margin-right: 90px;
  color: #fff;
}
header .horizontal-menu li {
  margin-right: 24px;
}
header .horizontal-menu a {
  color: #cacaca;
}
header .horizontal-menu .selected {
  color: #fff;
}
@media (max-width: 414px) {
  header .horizontal-menu {
    align-items: flex-start;
    margin: 15px 0;
  }
}

.page-description {
  position: relative;
  color: #fff;
  text-align: center;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
.page-description h2 {
  margin-bottom: 30px;
}

@media (max-width: 414px) {
  .page-description h1 {
    margin-top: 50px;
  }
  .page-description h2 {
    margin-bottom: 15px;
  }
  .page-description p {
    margin-top: 0;
  }
}
.page-pricing {
  color: #fff;
}
.page-pricing .pricing-item {
  margin-right: 50px;
}
.page-pricing .pricing-item:nth-child(3) {
  margin-right: 0;
}
.page-pricing .pricing-item.free {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.free .pricing-value {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.free .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.free .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .pricing-item.standart {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.standart .pricing-value {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.standart .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.standart .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .pricing-item.premium {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.premium .pricing-value {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.premium .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.premium .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .page-pricing-footer {
  margin-top: 38px;
  margin-bottom: 0;
  line-height: 1.5;
}
@media (max-width: 414px) {
  .page-pricing .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .page-pricing .pricing-item:nth-child(3) {
    margin-bottom: 0;
  }
}

.page-news h2 {
  text-align: center;
}

.news-items .news-item.text-first {
  flex-direction: row-reverse;
}
.news-items .news-item.text-first > img {
  margin-right: 0;
  margin-left: 50px;
}
.news-items .news-item.text-first .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item.text-first .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item.text-first .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item.text-first .news-footer .news-author img, .news-items .news-item.text-first .news-footer .news-author span {
  margin-right: 16px;
}
.news-items .news-item.text-first .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item.text-first .news-footer .news-author .author-name {
  color: #f89202;
}
@media (max-width: 414px) {
  .news-items .news-item.text-first {
    flex-direction: column;
  }
  .news-items .news-item.text-first > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .news-items .news-item.text-first .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item.text-first .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item.text-first .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item.text-first .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item > img {
  margin-right: 50px;
}
.news-items .news-item .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item .news-footer .news-author img, .news-items .news-item .news-footer .news-author span {
  margin-right: 16px;
}
.news-items .news-item .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item .news-footer .news-author .author-name {
  color: #f89202;
}
@media (max-width: 414px) {
  .news-items .news-item {
    flex-direction: column;
  }
  .news-items .news-item > img {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .news-items .news-item .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item:nth-child(1) {
  margin-bottom: 65px;
}

.page-app .app-description-text {
  width: 600px;
  margin-right: 144px;
}
.page-app .app-description-text p:nth-child(2) {
  margin-bottom: 30px;
}

@media (max-width: 414px) {
  .page-app .app-description-text {
    width: 100%;
  }
  .page-app img {
    margin: 0 auto;
  }
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .footer-first-part {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 270px);
  padding-top: 62px;
  padding-bottom: 72px;
}
@media (max-width: 414px) {
  footer .footer-first-part {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
footer .footer-first-part ul {
  margin-bottom: 0;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 18px;
}
footer li,
footer a {
  color: #e0e0e0;
}
footer .social-networks a {
  margin-right: 20px;
}
footer .border {
  height: 2px;
  background-color: #cacaca;
}
footer .footer-second-part {
  padding-top: 40px;
  padding-bottom: 47px;
}
footer .footer-second-part a {
  margin-right: 16px;
  padding: 4px 0;
  line-height: 1;
}
@media (max-width: 414px) {
  footer .footer-second-part a {
    margin-bottom: 16px;
  }
  footer .footer-second-part a:last-child {
    margin-bottom: 0;
  }
}

.artist-page-description {
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
}
.artist-page-description p {
  color: #fff;
}
.artist-page-description .buttons img {
  margin-right: 16px;
  filter: invert(100%);
}
.artist-page-description .buttons .bg-blue {
  margin-right: 20px;
}

@media (max-width: 414px) {
  .artist-page-description h1 {
    margin-top: 25px;
  }
  .artist-page-description .bg-blue {
    margin-bottom: 25px;
  }
}
.popular-tracks {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(2, 550px);
}
@media (max-width: 414px) {
  .popular-tracks {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px 50px;
  }
}
.popular-tracks .popular-track img {
  margin-right: 15px;
}
.popular-tracks .popular-track .track-header {
  width: calc(100% - 70px);
  color: #e0e0e0;
  font-size: 12.8px;
}
.popular-tracks .popular-track .track-header h3 {
  margin: 0;
  font-weight: bold;
  font-size: 12.8px;
}
.popular-tracks .popular-track .track-header p {
  margin: 0;
}

.discography-items {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(4, 250px);
}
@media (max-width: 414px) {
  .discography-items {
    grid-template-columns: repeat(2, 137px);
    grid-gap: 25px 50px;
  }
}
.discography-items .discography-info h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.discography-items .discography-info p {
  margin: 0;
  color: #e0e0e0;
}

.similar-items {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(4, 250px);
}
@media (max-width: 414px) {
  .similar-items {
    grid-template-columns: repeat(2, 137px);
    grid-gap: 25px 50px;
  }
}
.similar-items .similar-info {
  text-align: center;
}
.similar-items .similar-info h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.similar-items .similar-info p {
  margin: 0;
  color: #e0e0e0;
}

.pt-100 {
  padding-top: 100px;
}

.ptb-200 {
  padding: 200px 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 414px) {
  .mob-wh-137 {
    width: 137px;
    height: 137px;
  }
}

.m-0 {
  margin: 0;
}

.wh-55 {
  width: 55px;
  height: 55px;
}

.wh-20 {
  width: 20px;
  height: 20px;
}

.wh-25 {
  width: 25px;
  height: 25px;
}

.wh-auto {
  width: auto;
  height: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.d-flex {
  display: flex;
}

@media (max-width: 414px) {
  .mob-df-column {
    flex-direction: column;
  }
}

@media (max-width: 414px) {
  .mob-df-column-reverse {
    flex-direction: column-reverse;
  }
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.f-wrap {
  flex-wrap: wrap;
}

.bg-green {
  background-color: #34c176;
}

.bg-blue {
  background-color: #5328a1;
}

.bg-brown {
  background-color: #95390c;
}

.bg-transparent {
  background: transparent;
}