@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/OpenSans-Light.ttf");
}
.btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
.btn.btn-green {
  background-color: #34c176;
}
.btn.btn-blue {
  background-color: #5328a1;
}
.btn.btn-brown {
  background-color: #95390c;
}
.btn.btn-transparent {
  background: transparent;
}

body {
  margin: 0;
  color: #cacaca;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1,
h2 {
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

section {
  position: relative;
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  vertical-align: middle;
}

ul {
  padding: 0;
  list-style: none;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
header {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  text-transform: uppercase;
}
header nav {
  display: flex;
}
header .logo {
  display: flex;
  align-items: center;
  margin-right: 90px;
  color: #fff;
}
header .logo img {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}
header .logo p {
  margin: 0;
}
header .horizontal-menu {
  display: flex;
  align-items: center;
  margin: 0;
}
header .horizontal-menu li {
  margin-right: 24px;
}
header .horizontal-menu a {
  color: #cacaca;
}
header .horizontal-menu .selected {
  color: #fff;
}
header .search-form input {
  width: 240px;
  padding: 5px 0 5px 10px;
  border: none;
  border-radius: 30px;
  color: #757575;
  font-size: 13.3px;
  background: #3c3b3d;
  outline: none;
}

@media (max-width: 414px) {
  header .container {
    flex-direction: column;
  }
  header nav {
    flex-direction: column;
  }
  header .horizontal-menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
  }
  header .search-form input {
    width: calc(100% - 10px);
  }
}
.page-description {
  position: relative;
  padding: 200px 0;
  color: #fff;
  text-align: center;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
.page-description h2 {
  margin-bottom: 30px;
}
.page-description form {
  max-width: 570px;
  margin: 0 auto;
}
.page-description form .form-group {
  display: flex;
  justify-content: space-between;
}
.page-description form .form-group input {
  min-width: 250px;
  min-height: 44px;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  background: transparent;
}
.page-description form ::placeholder {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 414px) {
  .page-description h1 {
    margin-top: 50px;
  }
  .page-description h2 {
    margin-bottom: 15px;
  }
  .page-description p {
    margin-top: 0;
  }
  .page-description form .form-group {
    flex-direction: column;
  }
  .page-description form .form-group input:nth-child(1) {
    margin-bottom: 24px;
  }
}
.page-pricing {
  color: #fff;
  text-align: center;
}
.page-pricing h2 {
  margin-bottom: 50px;
}
.page-pricing .pricing-cards {
  display: flex;
  justify-content: space-between;
}
.page-pricing .pricing-item {
  margin-right: 50px;
}
.page-pricing .pricing-item:nth-child(3) {
  margin-right: 0;
}
.page-pricing .pricing-item.free {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_1.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.free h3 {
  margin-bottom: 200px;
}
.page-pricing .pricing-item.free .pricing-value {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.free .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.free a {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  border: solid 1px white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.page-pricing .pricing-item.free .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .pricing-item.standart {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_2.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.standart h3 {
  margin-bottom: 200px;
}
.page-pricing .pricing-item.standart .pricing-value {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.standart .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.standart a {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  border: solid 1px white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.page-pricing .pricing-item.standart .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .pricing-item.premium {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-image: url(../images/subscribe_3.png);
  background-position: center;
  background-size: cover;
}
.page-pricing .pricing-item.premium h3 {
  margin-bottom: 200px;
}
.page-pricing .pricing-item.premium .pricing-value {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1em;
}
.page-pricing .pricing-item.premium .pricing-value::after {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
  content: "руб.";
}
.page-pricing .pricing-item.premium a {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  border: solid 1px white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
.page-pricing .pricing-item.premium .pricing-footer {
  margin: 64px 0;
  font-size: 12.8px;
}
.page-pricing .page-pricing-footer {
  margin-top: 38px;
  margin-bottom: 0;
  line-height: 1.5;
}

@media (max-width: 414px) {
  .pricing-cards {
    flex-direction: column;
  }
  .pricing-cards .pricing-item {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .pricing-cards .pricing-item:nth-child(3) {
    margin-bottom: 0;
  }
}
.page-news h2 {
  text-align: center;
}

.news-items {
  margin-top: 50px;
}
.news-items .news-item {
  display: grid;
  grid-gap: 0 50px;
  grid-template-columns: repeat(2, 1fr);
}
.news-items .news-item .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item .news-footer .news-author img,
.news-items .news-item .news-footer span {
  margin-right: 16px;
}
.news-items .news-item .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item .news-footer .author-name {
  color: #f89202;
}
.news-items .news-item .btn {
  padding: 16px 30px;
  border: solid 1px #cacaca;
  font-size: 12px;
}
@media (max-width: 414px) {
  .news-items .news-item {
    display: flex;
    flex-direction: column;
  }
  .news-items .news-item > img {
    width: 100%;
    height: auto;
  }
  .news-items .news-item .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item.text-first {
  display: grid;
  grid-gap: 0 50px;
  grid-template-columns: repeat(2, 1fr);
}
.news-items .news-item.text-first .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item.text-first .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item.text-first .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item.text-first .news-footer .news-author img,
.news-items .news-item.text-first .news-footer span {
  margin-right: 16px;
}
.news-items .news-item.text-first .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item.text-first .news-footer .author-name {
  color: #f89202;
}
.news-items .news-item.text-first .btn {
  padding: 16px 30px;
  border: solid 1px #cacaca;
  font-size: 12px;
}
@media (max-width: 414px) {
  .news-items .news-item.text-first {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .news-items .news-item.text-first > img {
    width: 100%;
    height: auto;
  }
  .news-items .news-item.text-first .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item.text-first .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item.text-first .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item.text-first .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item:nth-child(1) {
  margin-bottom: 65px;
}

.page-app h2 {
  margin-bottom: 50px;
  text-align: center;
}
.page-app .app-description {
  display: flex;
}
.page-app .app-description-text {
  width: 600px;
  margin-right: 144px;
  line-height: 1.5;
}
.page-app .app-description-text p:nth-child(2) {
  margin-bottom: 30px;
}
.page-app .btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  text-transform: none;
}

@media (max-width: 414px) {
  .page-app .app-description {
    flex-direction: column-reverse;
  }
  .page-app .app-description-text {
    width: 100%;
  }
  .page-app img {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .footer-first-part {
  display: flex;
  padding-top: 62px;
  padding-bottom: 72px;
}
footer .footer-first-part section {
  width: 270px;
  margin-right: 40px;
}
footer .footer-first-part section:last-child {
  margin-right: 0;
}
footer .footer-first-part ul {
  margin-bottom: 0;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 18px;
}
footer li,
footer a {
  color: #e0e0e0;
}
footer .social-networks a {
  height: 24px;
  margin-right: 20px;
}
footer .border {
  height: 2px;
  background-color: #cacaca;
}
footer .footer-second-part {
  padding-top: 40px;
  padding-bottom: 47px;
}
footer .footer-second-part a {
  margin-right: 16px;
  padding: 4px 0;
  line-height: 1;
}

@media (max-width: 414px) {
  footer .footer-first-part {
    flex-direction: column;
  }
  footer .footer-first-part section {
    width: auto;
    margin-right: 0;
  }
  footer .footer-first-part ul {
    margin-bottom: 30px;
  }
  footer .footer-second-part {
    display: flex;
    flex-direction: column;
  }
  footer .footer-second-part a {
    margin-bottom: 16px;
  }
  footer .footer-second-part a:last-child {
    margin-bottom: 0;
  }
}
.artist-page-description {
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}
.artist-page-description h1 {
  margin-top: 50px;
}
.artist-page-description p {
  margin-bottom: 48px;
  color: #fff;
}
.artist-page-description .buttons {
  display: flex;
}
.artist-page-description .buttons img {
  width: 25px;
  height: 25px;
  margin-right: 16px;
  filter: invert(100%);
}
.artist-page-description .buttons .btn {
  width: 200px;
  padding: 20px 30px;
  color: #fff;
  font-size: 12.8px;
  font-family: Roboto, sans-serif;
  text-align: left;
}
.artist-page-description .buttons .btn-blue {
  margin-right: 24px;
}

@media (max-width: 414px) {
  .artist-page-description h1 {
    margin-top: 25px;
  }
  .artist-page-description .buttons {
    flex-direction: column;
  }
  .artist-page-description .buttons img {
    width: 20px;
    height: 20px;
  }
  .artist-page-description .btn-blue {
    margin-bottom: 24px;
  }
}
.popular-tracks {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
}

.popular-track {
  display: flex;
  grid-column: span 1;
  align-items: center;
}
.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.popular-track .track-header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  font-size: 12.8px;
}
.popular-track .track-header h3 {
  margin: 0;
  font-weight: bold;
  font-size: 12.8px;
}
.popular-track .track-header p {
  margin: 0;
}

@media (max-width: 414px) {
  .popular-tracks {
    grid-template-columns: repeat(1, 1fr);
  }
}
.discography-item {
  grid-column: span 1;
}
.discography-item .discography-info h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.discography-item .discography-info p {
  margin: 0;
  color: #e0e0e0;
}

.similar-item {
  grid-column: span 1;
}
.similar-item .similar-info {
  text-align: center;
}
.similar-item .similar-info h3 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
}
.similar-item .similar-info p {
  margin: 0;
  color: #e0e0e0;
}

@media (max-width: 414px) {
  .similar-items {
    grid-template-columns: repeat(2, 137px);
  }
}
.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 414px) {
  .wh-137 {
    width: 137px;
    height: 137px;
  }
}

.grid-4 {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(4, 250px);
}
@media (max-width: 414px) {
  .grid-4 {
    grid-template-columns: repeat(2, 137px);
  }
}