.artist-page-description {
  background-image: url(../images/Morten\ Harket.png);
  background-position: center;
  background-size: cover;
}
.artist-page-description h1 {
  margin-top: 50px;
}
.artist-page-description p {
  color: #fff;
}
.artist-page-description .buttons img {
  margin-right: 16px;
  filter: invert(100%);
}
.artist-page-description .buttons .bg-blue {
  margin-right: 20px;
}

@media (max-width: 414px) {
  .artist-page-description h1 {
    margin-top: 25px;
  }
  .artist-page-description .bg-blue {
    margin-bottom: 25px;
  }
}