.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 414px) {
  .wh-137 {
    width: 137px;
    height: 137px;
  }
}

.grid-4 {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(4, 250px);
}
@media (max-width: 414px) {
  .grid-4 {
    grid-template-columns: repeat(2, 137px);
  }
}

.grid-2 {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(2, 500px);
}
@media (max-width: 414px) {
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}