.btn {
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
  border-radius: 5px;
}

.btn-green {
  background-color: #34C176;
}

.btn-blue {
  background-color: #5328A1;
}

.btn-brown {
  background-color: #95390C;
}

.btn-brown {
  background-color: #95390C;
}

.btn-transparent {
  background: transparent;
}