.btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}

.btn-green {
  background-color: #34c176;
}

.btn-blue {
  background-color: #5328a1;
}

.btn-brown {
  background-color: #95390c;
}

.btn-transparent {
  background: transparent;
}