.btn {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
}
.btn.price-btn {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 20px 30px;
  border: solid 1px white;
}
.btn.app-btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  text-transform: none;
}
.btn.artist-desc-btn {
  width: 200px;
  padding: 20px 30px;
  color: #fff;
  font-size: 12.8px;
  font-family: Roboto, sans-serif;
  text-align: left;
}