footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
footer .footer-first-part {
  display: flex;
  padding-top: 62px;
  padding-bottom: 71px;
}
footer .footer-first-part > div {
  width: 270px;
  margin-right: 40px;
}
footer .footer-first-part ul {
  margin-bottom: 0;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 18px;
}
footer li, footer a {
  color: #E0E0E0;
}
footer .social-networks ul {
  display: flex;
}
footer .social-networks li {
  margin-right: 24px;
}
footer .border {
  background-color: #cacaca;
  height: 2px;
}
footer .footer-second-part {
  padding-top: 40px;
  padding-bottom: 49px;
}
footer .footer-second-part ul {
  display: flex;
  margin: 0;
}
footer .footer-second-part ul li {
  margin-right: 16px;
  line-height: 1.5;
}

@media (max-width: 414px) {
  footer .footer-first-part {
    flex-direction: column;
  }
  footer .footer-first-part ul {
    margin-bottom: 30px;
  }
  footer .footer-first-part .social-networks ul {
    margin-bottom: 0;
  }
  footer .footer-second-part ul {
    flex-direction: column;
  }
  footer .footer-second-part ul li {
    margin-bottom: 16px;
  }
  footer .footer-second-part ul li:last-child {
    margin-bottom: 0;
  }
}