@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/OpenSans-Light.ttf");
}
body {
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #08020D;
}

h1,
h2 {
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  body {
    margin: 0;
  }

  .container {
    padding: 0 20px;
  }
}