.page-news h2 {
  text-align: center;
}

.news-items {
  margin-top: 50px;
}
.news-items .news-item {
  display: grid;
  grid-gap: 0 50px;
  grid-template-columns: repeat(2, 1fr);
}
.news-items .news-item .news-body {
  width: calc(100% - 50px);
}
.news-items .news-item .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item .news-footer .news-author img,
.news-items .news-item .news-footer span {
  margin-right: 16px;
}
.news-items .news-item .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item .news-footer .author-name {
  color: #f89202;
}
@media (max-width: 414px) {
  .news-items .news-item {
    display: flex;
    flex-direction: column;
  }
  .news-items .news-item > img {
    width: 100%;
    height: auto;
  }
  .news-items .news-item .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item.text-first {
  display: grid;
  grid-gap: 0 50px;
  grid-template-columns: repeat(2, 1fr);
}
.news-items .news-item.text-first .news-body {
  width: calc(100% - 50px);
}
.news-items .news-item.text-first .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-items .news-item.text-first .news-body p {
  margin-bottom: 25px;
}
.news-items .news-item.text-first .news-footer .news-author {
  margin-bottom: 50px;
}
.news-items .news-item.text-first .news-footer .news-author img,
.news-items .news-item.text-first .news-footer span {
  margin-right: 16px;
}
.news-items .news-item.text-first .news-footer .news-author span {
  font-size: 12.8px;
  text-transform: uppercase;
}
.news-items .news-item.text-first .news-footer .author-name {
  color: #f89202;
}
@media (max-width: 414px) {
  .news-items .news-item.text-first {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .news-items .news-item.text-first > img {
    width: 100%;
    height: auto;
  }
  .news-items .news-item.text-first .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
  .news-items .news-item.text-first .news-body p {
    margin-bottom: 20px;
  }
  .news-items .news-item.text-first .news-footer .news-author {
    margin-bottom: 45px;
  }
  .news-items .news-item.text-first .btn {
    display: inline-block;
    width: auto;
  }
}
.news-items .news-item:nth-child(1) {
  margin-bottom: 65px;
}