.page-app {
  padding: 100px 0;
}
.page-app h2 {
  text-align: center;
  margin-bottom: 50px;
}
.page-app .app-description {
  display: flex;
}
.page-app .app-description-text {
  line-height: 1.5;
  width: 600px;
  margin-right: 144px;
}
.page-app .btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  text-transform: none;
  width: auto;
}

@media (max-width: 414px) {
  .page-app .app-description {
    flex-direction: column-reverse;
  }
  .page-app .app-description-text {
    width: 100%;
  }
}