.popular-track {
  display: flex;
  grid-column: span 1;
  align-items: center;
}
.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.popular-track .track-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 70px);
  font-size: 12.8px;
}
.popular-track .track-header h3 {
  margin: 0;
  font-weight: bold;
  font-size: 12.8px;
}
.popular-track .track-header p {
  margin: 0;
  color: #E0E0E0;
}
.popular-track .track-header .track-duration {
  color: #E0E0E0;
}