.page-app h2 {
  margin-bottom: 50px;
  text-align: center;
}
.page-app .app-description {
  display: flex;
}
.page-app .app-description-text {
  width: 600px;
  margin-right: 144px;
  line-height: 1.5;
}
.page-app .app-description-text p:nth-child(2) {
  margin-bottom: 30px;
}
.page-app .btn {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  text-transform: none;
}

@media (max-width: 414px) {
  .page-app .app-description {
    flex-direction: column-reverse;
  }
  .page-app .app-description-text {
    width: 100%;
  }
  .page-app img {
    width: auto;
    height: auto;
    margin: 0 auto;
  }
}