.popular-track img {
  margin-right: 15px;
}
.popular-track .track-header {
  width: calc(100% - 70px);
  font-size: 12.8px;
  color: #E0E0E0;
}
.popular-track .track-header h3 {
  margin: 0;
  font-weight: bold;
  font-size: 12.8px;
}
.popular-track .track-header p {
  margin: 0;
}