.page-description {
  position: relative;
  text-align: center;
  padding: 200px 0;
  color: #FFFFFF;
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}
.page-description form {
  max-width: 570px;
  margin: 0 auto;
}
.page-description form .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.page-description form .form-group input {
  min-width: 250px;
  min-height: 50px;
  padding-left: 20px;
  border: solid 2px #cacaca;
  border-radius: 3px;
  font-size: 14px;
  background: transparent;
  color: #FFFFFF;
}
.page-description form ::placeholder {
  color: #FFFFFF;
  font-size: 14px;
}

@media (max-width: 414px) {
  form .form-group {
    flex-direction: column;
  }
  form .form-group input:nth-child(1) {
    margin-bottom: 24px;
  }
}