.page-news {
  padding-top: 100px;
}

.page-news h2 {
  text-align: center;
}

.news-items {
  margin-top: 45px;
}
.news-items .news-item:nth-child(1) {
  margin-bottom: 65px;
}

.news-item {
  display: flex;
}
.news-item > img {
  margin-right: 50px;
}
.news-item .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-item .news-body p {
  margin-bottom: 25px;
}
.news-item .news-footer .news-author {
  margin-bottom: 65px;
}
.news-item .news-footer .news-author img, .news-item .news-footer span {
  margin-right: 16px;
}
.news-item .news-footer .news-author span {
  text-transform: uppercase;
  font-size: 12px;
}
.news-item .news-footer .author-name {
  color: #F89202;
}
.news-item .btn {
  padding: 16px 30px;
  font-size: 12px;
  border: solid 1px #cacaca;
}
@media (max-width: 414px) {
  .news-item {
    flex-direction: column;
  }
  .news-item > img {
    margin-right: 0;
  }
  .news-item .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
}

.news-item.text-first {
  display: flex;
  flex-direction: row-reverse;
}
.news-item.text-first > img {
  margin-right: 50px;
}
.news-item.text-first .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-item.text-first .news-body p {
  margin-bottom: 25px;
}
.news-item.text-first .news-footer .news-author {
  margin-bottom: 65px;
}
.news-item.text-first .news-footer .news-author img, .news-item.text-first .news-footer span {
  margin-right: 16px;
}
.news-item.text-first .news-footer .news-author span {
  text-transform: uppercase;
  font-size: 12px;
}
.news-item.text-first .news-footer .author-name {
  color: #F89202;
}
.news-item.text-first .btn {
  padding: 16px 30px;
  font-size: 12px;
  border: solid 1px #cacaca;
}
@media (max-width: 414px) {
  .news-item.text-first {
    flex-direction: column;
  }
  .news-item.text-first > img {
    margin-right: 0;
  }
  .news-item.text-first .news-body h3 {
    margin-top: 50px;
    font-size: 16px;
  }
}