.page-popular-track {
  padding-top: 100px;
}

.popular-tracks {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px 50px;
}

.popular-track {
  grid-column: span 1;
  display: flex;
  align-items: center;
}
.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
.popular-track .track-info {
  width: calc(100% - 70px);
  display: flex;
  justify-content: space-between;
  font-size: 12.8px;
}
.popular-track .track-info h3 {
  font-size: 12.8px;
  font-weight: bold;
  margin: 0;
}
.popular-track .track-info p {
  margin: 0;
}

@media (max-width: 414px) {
  .popular-tracks {
    grid-template-columns: repeat(1, 1fr);
  }
}