.page-similar {
  padding: 100px 0;
}

.similar-items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 25px 50px;
}

.similar-item {
  grid-column: span 1;
}
.similar-item img {
  width: 250px;
  height: 250px;
}
.similar-item .similar-info {
  text-align: center;
}
.similar-item .similar-info h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 0;
}
.similar-item .similar-info p {
  margin: 0;
  color: #E0E0E0;
}

@media (max-width: 414px) {
  .similar-items {
    grid-template-columns: repeat(2, 137px);
  }

  .similar-item img {
    width: 137px;
    height: 137px;
  }
}