.page-discography {
  padding-top: 100px;
}

.discography-items {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}

.discography-item {
  margin-right: 50px;
}
.discography-item img {
  width: 250px;
  height: 250px;
}
.discography-item .discography-info h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 0;
}
.discography-item .discography-info p {
  color: #E0E0E0;
  margin: 0;
}

@media (max-width: 414px) {
  .discography-items {
    grid-template-columns: repeat(2, 137px);
  }

  .discography-item img {
    width: 137px;
    height: 137px;
  }
}