@import "variables.scss";
@import "mixins.scss";

.artist-page-description {
  @include page-desctiption-back(Morten\ Harket);

  h1 {
    margin-top: 50px;
  }

  p {
    color: $header-color;
  }

  .buttons {
    img {
      margin-right: 16px;

      filter: invert(100%);
    }

    // .btn {
    //   width: 200px;

    //   padding: 20px 30px;

    //   color: $header-color;

    //   font-size: 12.8px;

    //   font-family: Roboto, sans-serif;

    //   text-align: left;
    // }

    .bg-blue {
      margin-right: 20px;
    }
  }
}

@media (max-width: $max-mob-width) {
  .artist-page-description {
    h1 {
      margin-top: 25px;
    }

    .bg-blue {
      margin-bottom: 25px;
    }
  }
}
