@import "variables.scss";
@import "mixins.scss";

.artist-page-description {
  @include page-desctiption-back(Morten\ Harket);

  // padding: 200px 0;

  h1 {
    margin-top: 50px;
  }

  p {
    color: $header-color;
  }

  .buttons {
    // margin-top: 50px;
    // display: flex;

    img {
      // width: 20px;
      // height: 20px;
      margin-right: 16px;

      filter: invert(100%);
    }

    .btn {
      width: 200px;

      padding: 20px 30px;

      color: $header-color;

      font-size: 12.8px;

      font-family: Roboto, sans-serif;

      text-align: left;
    }

    .btn-blue {
      margin-right: 20px;
    }

    // .btn-brown {
    //   margin-left: -5px;
    // }

  }
}

@media (max-width: $max-mob-width) {
  .artist-page-description {
    h1 {
      margin-top: 25px;
    }

    // .buttons {
      // flex-direction: column;

      // img {
      //   width: 20px;
      //   height: 20px;
      // }
    // }

    .btn-blue {
      margin-bottom: 25px;
    }
  }
}
