@import "variables.scss";
@import "mixins.scss";
  
.artist-page-description {
  @include page-desctiption-back(Morten\ Harket);

  padding: 200px 0;

  p {
    color: $header-color;
    margin-bottom: 48px;
  }

  .buttons {
    display: flex;

    img {
      width: 25px;
      height: 25px;
      margin-right: 16px;
      filter: invert(100%);
    }

    .btn {
      padding: 20px 30px;
      font-family: Roboto, sans-serif;
      width: 200px;
      color: $header-color;

      text-align: left;        
    }

    .btn-blue {
      margin-right: 24px;
    }
  }
}

@media (max-width: $max-mob-width) {
  .buttons {
    flex-direction: column;
  }

  .btn-blue {
    margin-bottom: 24px;
  }
}