@import "mixins.scss";

.pt-100 {
  padding-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-50 {
  margin-top: 48px;
}

.wh-137 {
  @media (max-width: $max-mob-width) {
    @include wh(137px);
  }
}

.grid-4 {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(4, 250px);

  @media (max-width: $max-mob-width) {
    grid-template-columns: repeat(2, 137px);
  }
}

.grid-2 {
  display: grid;
  grid-gap: 25px 50px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $max-mob-width) {
    grid-template-columns: repeat(1, 1fr);
  }
}