@import "variables.scss";

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer-first-part {
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 20px;
    padding-top: 62px;
    padding-bottom: 72px;

    > div {
      width: 270px;
      margin-right: 40px;
    }

    ul {     
      margin-bottom: 0;
    }

    // .contacts {
    //   margin-right: 65px;
    // }
  }

  h2 {
    margin-bottom: 15px;
    font-size: 18px;
    // line-height: 1.5;  
  }

  li, a {
    // font-size: 16px;
    // line-height: 1.5;
    color: #E0E0E0;
  }

  .social-networks {
    // ul {
    //   display: flex;      
    // }
    
    // li {
      // margin-right: 24px;
      // padding: 0;
      // border: solid red 1px;
      a {
        // border: solid red 1px;
        margin-right: 24px;
        // padding-top: 4px;
        // padding-bottom: 4px;
        // font-size: 16px;
        // height: 24px;
        // box-sizing: border-box;
        // // width: auto;
        // // border: solid 1px red;
        // img {
        //   width: auto;
        //   height: auto;
        // }
      }
    // } 
  }

  .border {
    background-color: $main-color;
    height: 2px;
  }

  .footer-second-part {
    padding-top: 40px;
    padding-bottom: 47px;

    // > div {
    //   // display: flex;
      // margin: 0;

      a {
        margin-right: 16px;
        // line-height: 24px;
        height: 24px;
        // min-height: 24px;
        // font-size: 16px;
        // height: 24px;      
      }
    // }
  }
}

@media (max-width: $max-mob-width) {
  footer {  
    .footer-first-part {
      flex-direction: column;

      > div {
        width: auto;
        margin-right: 0;
      }

      ul {
        margin-bottom: 30px;
      }

      // .social-networks ul {
      //   margin-bottom: 0;
      // }    
    }
  
    .footer-second-part {
      display: flex;
      flex-direction: column;
      a {
        margin-bottom: 16px;
      }

      a:last-child {
        margin-bottom: 0;
      }
    }
  }
}