footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, $red 81.56%);

  .footer-first-part {
    @include set-greed(4, 1, 270px, 1fr, 40px, 30px);
    
    // display: grid;
    // grid-template-columns: repeat(4, 270px);
    // grid-gap: 40px;

    padding-top: 62px;
    padding-bottom: 72px;

    ul {
      margin-bottom: 0;
    }
  }

  h2 {
    margin-bottom: 15px;

    font-size: 18px;
  }

  li,
  a {
    color: $light-gray;
  }

  .social-networks {
    a {
      // height: 24px;

      margin-right: 20px;
    }
  }

  .border {
    height: 2px;

    background-color: $dark-gray;
  }

  .footer-second-part {
    padding-top: 40px;
    padding-bottom: 47px;

    a {
      margin-right: 16px;
      padding: 4px 0;

      line-height: 1;
    }
  }

  @media (max-width: $max-mob-width) {
    .footer-first-part {
      // grid-template-columns: repeat(1, 270px);
      // grid-gap: 30px;
    }

    .footer-second-part {
      a {
        margin-bottom: 16px;
      }

      a:last-child {
        margin-bottom: 0;
      }
    }
  }
}
