@import "variables.scss";

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer-first-part {
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 20px;
    padding-top: 62px;
    padding-bottom: 72px;

    > div {
      width: 270px;
      margin-right: 40px;
    }

    ul {     
      margin-bottom: 0;
    }

    // .contacts {
    //   margin-right: 65px;
    // }
  }

  h2 {
    margin-bottom: 15px;
    font-size: 18px;
    // line-height: 1.5;  
  }

  li, a {
    // font-size: 16px;
    // line-height: 1.5;
    color: #E0E0E0;
  }

  .social-networks {
    ul {
      display: flex;      
    }
    
    li {
      margin-right: 24px;
    } 
  }

  .border {
    background-color: $main-color;
    height: 2px;
  }

  .footer-second-part {
    padding-top: 40px;
    padding-bottom: 50px;

    ul {
      display: flex;
      margin: 0;

      li {
        margin-right: 16px;
        line-height: 1.5;        
      }
    }
  }
}

@media (max-width: $max-mob-width) {
  footer {  
    .footer-first-part {
      flex-direction: column;    
    }
  
    ul, h2 {
      margin-left: 20px;
    }
  
    .footer-second-part ul {
      flex-direction: column;
      li {
        margin-bottom: 16px;
      }   
    }
  }  
}