.search-form {
  input {
    min-width: 240px;
    padding-left: 10px;
    min-height: 25px;
  
    border: none;
    border-radius: 30px;
  
    font-size: 13.3px;
  
    background: $dark;
  
    outline: none;
  }

  ::placeholder {
    color: $gray;
  }

  @media (max-width: $max-mob-width) {
    width: 100%;
    display: flex;
    input {
      width: 100%;
    }
  }
}

.subsctiption-form {
  max-width: 570px;
  margin: 0 auto;

  .form-group {
    input {
      min-width: 250px;
      min-height: 44px;
      margin-bottom: 1.5rem;
      padding-left: 20px;

      border: solid 2px $dark-gray;
      border-radius: 3px;

      color: $white;

      font-size: 14px;
    }

    ::placeholder {
      color: $white;
    }
  }  

  @media (max-width: $max-mob-width) {
    .form-group {
      input {
        width: 100%;
      }
    }
  }
}