@import "variables.scss";
@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
}
  
@font-face {
	font-weight: 700;
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
	font-weight: 300;
	font-family: 'Roboto';
	src: url('../fonts/OpenSans-Light.ttf');
}
  
body {
  color: #cacaca;

  font-size: 18px;
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;

	background-color: $background-color;

  // max-width: $max-desctop-width;
  margin: 0;
}

h1,
h2 {
  font-weight: bold;

	line-height: 1.5;

	text-transform: uppercase;

  margin: 0 auto;
  color: $header-color;
}

h1 {
  font-size: 60px;
  
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: $header-color;
}

a {
  color: $header-color;
  text-decoration: none;
}

section {
  position: relative;
}

.container {
  // position: relative;

  max-width: $max-desctop-width;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

@media (max-width: $max-mob-width) {
  h1 {
      font-size: 30px;
  }

  h2 {
      font-size: 18px;
  }
  body {
    margin: 0;
  }

  .container {
    width: auto;   
    padding: 0 20px;
  }
}

