header {
  position: absolute;
  top: 25px;

  z-index: 1;

  width: 100%;

  text-transform: uppercase;

  font-size: 11px;

  .logo {
    width: 100px;
    margin-right: 90px;

    color: $white;
  }

  .horizontal-menu {
    li {
      margin-right: 24px;
    }

    a {
      color: $dark-gray;
    }

    .selected {
      color: $white;
    }
  }

  @media (max-width: $max-mob-width) {
    .horizontal-menu {
      align-items: flex-start;
      margin: 15px 0;
    }
  }
}


