@import "variables.scss";

header {
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 1;

  .container {  
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
    font-size: 11px;
  }

  nav {
    display: flex;
  }

  .logo {
    color: $header-color;
  
    display: flex;
    align-items: center;  
  
    margin-right: 90px;
  
    img {
      width: 25px;
      height: 25px;
      margin-right: 16px;
    }

    p {
      margin: 0;
    }
  }

  .horizontal-menu {
    display: flex;
    align-items: center;

    margin: 0;
  
    li {
      margin-right: 24px;
    }
  
    a {    
      color: $main-color;
    }
  
    .selected {
      color: $header-color;
    }
  }

  .search-form input {
    font-size: 13.3px;
    color: #757575;
    background: #3C3B3D;
    border: none;
    padding: 5px 0 5px 10px;
    border-radius: 30px;
    width: 240px;
    outline: none;
  }
}
  

@media (max-width: $max-mob-width) {
  header {  
    .container { 
      flex-direction: column;
    }
  
    nav {
      flex-direction: column;
    }
  
    .horizontal-menu {
      flex-direction: column;
      align-items: flex-start;
      margin: 15px 0;
      // margin-bottom: 24px;
      
      // li {
      //   // margin-right: 0;
      // }
    }
    
    .search-form input {
      width: calc((100%) - 10px);
    }
  } 
}