header {
  position: absolute;
  top: 25px;

  z-index: 1;

  width: 100%;

  .container {
    font-size: 11px;

    text-transform: uppercase;
  }

  .logo {
    margin-right: 90px;

    color: $white;

    img {
      margin-right: 16px;
    }
  }

  .horizontal-menu {
    li {
      margin-right: 24px;
    }

    a {
      color: $dark-gray;
    }

    .selected {
      color: $white;
    }
  }

  .search-form input {
    width: 240px;

    padding: 5px 0 5px 10px;

    border: none;
    border-radius: 30px;

    color: #757575;

    font-size: 13.3px;

    background: $dark;

    outline: none;
  }
}

@media (max-width: $max-mob-width) {
  header {
    nav {
      flex-direction: column;
    }

    .horizontal-menu {
      flex-direction: column;
      align-items: flex-start;
      margin: 15px 0;
    }

    .search-form input {
      width: calc((100%) - 10px);
    }
  }
}
