@import "variables.scss";

@mixin page-desctiption-back($img) {
  background-image: url(../images/#{$img}.png);
  background-position: center;
  background-size: cover;
}

@mixin wh($size) {
  width: $size;
  height: $size;
}

@mixin pricing-item($image) {
  padding: 0 1.5rem;
  border-radius: 1rem;

  @include page-desctiption-back($image);

  h3 {
    margin-bottom: 200px;
  }

  .pricing-value {
    display: flex;
    justify-content: center;

    margin-bottom: 40px;

    font-size: 64px;

    line-height: 1em;
  }

  .pricing-value::after {
    margin-top: 5px;
    margin-left: 15px;

    font-size: 32px;

    line-height: 1em;

    text-transform: uppercase;

    content: 'руб.';
  }

  // button {
  //   font-size: 16px;
  //   font-family: Roboto, sans-serif;
  //   border: solid 1px white;
  //   padding: 20px 30px; //тут надо подумать как сделать красиво, чтобы проходила проверка
  // }
  // a {
  //   display: inline-block;

  //   width: calc((100%) - 4rem);

  //   padding: 20px 30px; //тут надо подумать как сделать красиво, чтобы проходила проверка

  //   border: solid 1px white;

  //   font-size: 16px;
  //   font-family: Roboto, sans-serif;
  // }

  .pricing-footer {
    margin: 64px 0;

    font-size: 12.8px;
  }
}

@mixin news-item($text-first) {
  display: grid;
  grid-gap: 0 50px;
  grid-template-columns: repeat(2, 1fr);

  .news-body {
    h3 {
      margin-top: 0;

      font-size: 30px;
      text-transform: capitalize;
    }

    p {
      // font-size: 16px; возможно придется менять если главный шрифт измениться
      margin-bottom: 25px;
    }
  }

  .news-footer {
    .news-author {
      margin-bottom: 50px;
    }

    .news-author img,
    span {
      margin-right: 16px;
    }

    .news-author span {
      font-size: 12.8px;
      text-transform: uppercase;
    }

    .author-name {
      color: #f89202;
    }
  }

  .btn {
    padding: 16px 30px;

    border: solid 1px $main-color;

    font-size: 12px;
  }

  @media (max-width: $max-mob-width) {
    // grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    @if ($text-first == true) {
      flex-direction: column-reverse;
    }

    > img {
      width: 100%;
      height: auto;
    }

    .news-body {
      h3 {
        margin-top: 50px;

        font-size: 16px;
      }

      p {
        // font-size: 16px; возможно придется менять если главный шрифт измениться
        margin-bottom: 20px;
      }
    }

    .news-footer {
      .news-author {
        margin-bottom: 45px;
      }
    }

    .btn {
      display: inline-block;
      width: auto;
    }
  }
}
