@import "variables.scss";
@import "mixins.scss";

.popular-track {
  img {
    margin-right: 15px;
  }

  .track-header {
    width: calc((100%) - 70px);

    font-size: 12.8px;
    color: #E0E0E0;

    h3 {
      margin: 0;

      font-weight: bold;
      font-size: 12.8px;
    }

    p {
      margin: 0;
    }
  }
}
