@import "variables.scss";
@import "mixins.scss";

.page-news {
  padding-top: 100px;
}

.page-news h2 {
  text-align: center;
}

.news-items {
  margin-top: 50px;
  .news-item:nth-child(1) {
    margin-bottom: 65px
  } 
}

.news-item {
  @include news-item(false);
}

.news-item.text-first{
  @include news-item(true);
}