@import "variables.scss";
@import "mixins.scss";

.page-app {
  margin-bottom: 100px;

  padding-top: 100px;

  h2 {
    margin-bottom: 50px;

    text-align: center;
  }

  .app-description {
    display: flex;
  }

  .app-description-text {
    // font-size: 16px;
    width: 600px;

    margin-right: 144px;

    line-height: 1.5;

    p:nth-child(2) {
      margin-bottom: 30px;
      // border: green 1px solid;
    }
  }

  .btn {
    padding: 16px 40px;

    border-radius: 32px;

    font-size: 12.8px;
    text-transform: none;
    // width: auto;
  }
}

@media (max-width: $max-mob-width) {
  .page-app {
    .app-description {
      flex-direction: column-reverse;
    }

    .app-description-text {
      width: 100%;
    }

    img {
      // width: 333px; хитра хрень!
      // height: 278px;
      width: auto;

      height: auto;

      margin: 0 auto;
    }
  }
}
