@import "variables.scss";
@import "mixins.scss";

.page-similar {
  padding: 100px 0;
}

.similar-items {
  margin-top: 45px;

  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 25px 50px;
}

.similar-item {
  grid-column: span 1;

  img {
    width:  250px;
    height: 250px;
  }

  .similar-info {
    text-align: center;
    
    h3 {
      font-size: 18px;
      line-height: 27px;
      font-weight: bold;
      text-transform: none;
      margin-bottom: 0;
    }
  
    p {
      font-size: 16px;
      margin: 0;
    }
  }
}


@media (max-width: $max-mob-width) {  
  .similar-items {
    grid-template-columns: repeat(2, 137px);
  }

  .similar-item {  
    img {
      width: 137px;
      height: 137px;
    }
  }
}