@import "variables.scss";
@import "mixins.scss"; 

.page-description {
  position: relative;
  text-align: center;
  padding: 200px 0;

  color: $header-color;

  @include page-desctiption-back(banner);

  h2 {
    margin-bottom: 30px;
  }

  form {
    max-width: 570px;
    margin: 0 auto;  

    .form-group {        
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
  
      input {
        min-width: 250px;
        min-height: 50px;
        padding-left: 20px;
        border: solid 2px #cacaca;
        border-radius: 3px;
        font-size: 14px;
        background: transparent;
        color: $header-color;
      }
    }

    ::placeholder {
      color: $header-color;
      font-size: 14px;
    }

    // button { - интересно почему такой размер и шрифт по умолчанию
    //   font-family: Arial, sans-serif;
    //   font-size: 13.3px;
    // }
  }
}

@media (max-width: $max-mob-width) {
  .page-description {
    h1 {
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-top: 0;
    }

    form {
      .form-group {
        flex-direction: column;  

        input:nth-child(1) {
          margin-bottom: 24px;
        }
      }
    }
  }    
}