.page-app {
  .app-description-text {
    // font-size: 16px;
    width: 600px;

    margin-right: 144px;

    p:nth-child(2) {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $max-mob-width) {
  .page-app {
    .app-description-text {
      width: 100%;
    }

    img {
      margin: 0 auto;
    }
  }
}
