@import "variables.scss";
@import "mixins.scss";
.page-news {
  padding-top: 100px;
}

.page-news h2 {
  text-align: center;
}

.news-cards {
  margin-top: 45px;
  .news-item:nth-child(1) {
    margin-bottom: 65px
  } 
}

.news-item {
  @include news-item(false);
}

.news-item.text-first{
  @include news-item(true);
}


@media (max-width: $max-mob-width) {   
  // .pricing-cards {
  //   display: flex;
  //   flex-direction: column;
  // }
  
  // .pricing-item {
  //   margin-right: 0;
  //   margin-bottom: 50px;
  // }
  
  // .pricing-item:nth-child(3) {
  //     margin-bottom: 0;
  // }
}