@import "variables.scss";
@import "mixins.scss";

.popular-tracks {
  // display: grid;
  // grid-gap: 25px 50px;
  // grid-template-columns: repeat(2, 1fr);

  // margin-top: 50px;
}

.popular-track {
  display: flex;

  grid-column: span 1;

  align-items: center;

  img {
    width: 55px;
    height: 55px;

    margin-right: 15px;
  }

  .track-header {
    // border: solid 1px red;
    display: flex;
    justify-content: space-between;

    width: calc((100%) - 70px);

    font-size: 12.8px;

    h3 {
      margin: 0;

      font-weight: bold;
      font-size: 12.8px;
    }

    p {
      margin: 0;
    }
  }
}

// @media (max-width: $max-mob-width) {
//   .popular-tracks {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }
