.page-description {
  position: relative;
  
  color: $white;

  text-align: center;

  @include page-desctiption-back(banner);

  h2 {
    margin-bottom: 30px;
  }

  form {
    max-width: 570px;
    margin: 0 auto;

    .form-group {
      input {
        min-width: 250px;
        min-height: 44px;
        margin-bottom: 1.5rem;
        padding-left: 20px;

        border: solid 2px $dark-gray;
        border-radius: 3px;

        color: $white;

        font-size: 14px;
      }
    }

    ::placeholder {
      color: $white;
    }
  }
}

@media (max-width: $max-mob-width) {
  .page-description {
    h1 {
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-top: 0;
    }

    form {
      .form-group {
        input {
          width: 100%;
        }
      }
    }
  }
}
