.page-description {
  position: relative;
  
  color: $white;

  text-align: center;

  @include page-desctiption-back(banner);

  h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: $max-mob-width) {
  .page-description {
    h1 {
      margin-top: 50px;
    }

    h2 {
      margin-bottom: 15px;
    }

    p {
      margin-top: 0;
    }
  }
}

