$max-mob-width: 414px;
$max-desctop-width: 1240px;
$black:#08020d;
$dark: #3c3b3d;
$light-gray:#e0e0e0;
$dark-gray: #cacaca;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;